@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --fern-green: #56825eff;
  --screamin-green: #7dff95ff;
  --dark-spring-green: #397544ff;
  --pigment-green: #50a15fff;
  --emerald: #5cbf6eff;
}

body {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  background-color: #1a1c1f;
  color: var(--screamin-green);
}

ul#social {
  list-style: none;
  font-size: xx-large;
  text-align: center;
  position: relative;
  right: 20px;
  bottom: 20px;
}

li {
  display: inline-block;
  padding-left: 20px;
}

h1 {
  text-align: center;
  font-weight: 700;
}

a:link {
  color: var(--emerald);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--emerald);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--dark-spring-green);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--screamin-green);
  background-color: transparent;
  text-decoration: underline;
}
